
html, body {
    /* background-color: #E7DFD8; */
    background-color: lightblue;
    /* font-family: 'Montserrat', arial, sans-serif; */
    font-family:Georgia, Times, serif;
    
    height: 100%;
    padding: 0;
    /* padding: 0;
    height: 100%;
    margin: 0px;
    overflow: hidden; */
}

body {
    background: linear-gradient(to bottom, rgba(231, 240, 245, 1) 0%, rgba(170, 221, 235, 1) 100%);
    margin: 0px;
    
  }
  

#back-to-top {
    /* font-family: 'Montserrat', arial, sans-serif; */
    font-weight: bold;
    position: fixed;
    bottom: 0;
    color: lightblue;
    background-color: white;
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: inherit; 
    text-decoration: none;
}

/* #back-to-top:hover, .song:hover{
    text-decoration: underline;
} */


h1, h2{
    font-family: 'Corben', Georgia, Times, serif;
    
}

h4 {
    font-weight: normal;
    text-decoration: none;
}

.title {
    margin: 40px;
    padding: 0px 16px;
    background-color: white;
    color: rgb(113, 187, 212);
    /* border: 2px solid black; */
    border: 0;
    border-radius: 10px;
    overflow: hidden;
    display: flex; 
    flex-direction: column; 
    justify-content: space-between; 
}

header nav a:hover, footer:hover, #back-to-top:hover, .song:hover {
    text-decoration: underline
}

/* img {
    width: 30%;
    height: 100%;
    float: left;
    object-fit: cover;

} */

p img {
    width: 30%;
    height: 30%;
    border-radius: 50%;
}

ul {
    list-style-type: none;
    padding: 30px;
    padding-bottom: 0px;
    margin: 0;
    display: flex;
    justify-content: space-around;
}


li a {
    color: inherit; 
    font-weight: bold;
    text-decoration: none;
}

#btn, #btn2 {
    font-family: 'Corben', Georgia, Times, serif;
    color: #FDFDFD;
    border-color: black;
    background-color: lightblue;
    border: 0;
    padding: 15px;
    border-radius: 8px;
    font-size: 20px;
    text-align: center;
}

#btn:hover, #btn2:hover {
    background-color: white;
    color: lightblue;
    cursor: pointer;
}
    
.pictures {
    display: flex;
    flex-wrap: wrap;
    max-width: 2000px;
    margin: 50px auto;
}
   
a {
    display: block;
    text-decoration: none;
    color: rgb(113, 187, 212);
}

.picture {
    width: 240px;
    border-radius: 5px;
    margin: 3px;
}

div.gallery {
    border: 1px solid #ccc;
    
  }
  
  div.gallery:hover {
    border: 1px solid #777;
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
  }
  
  @media only screen and (max-width: 700px) {
    .responsive {
      width: 49.99999%;
      margin: 6px 0;
    }
  }
  
  @media only screen and (max-width: 500px) {
    .responsive {
      width: 100%;
    }
  }
  
  .clearfix:after {
    content: "";
    display: table;
    clear: both;
  }

#header {
	background: #44accf;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}


#content {
	background: #b7d84b;
    width: 75%;
    height: 600px;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}
#navigation {
	background: #e2a741;
    width: 25%;
    height: 600px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
}
#footer {
	background: #ee3e64;
    height: 50px;
    clear: both;
    display: flex;
    justify-content: center;
    align-items: center;
}

.test-header {
    background-color: rgb(169, 214, 229);
    flex: 0 0 40px;
    color: black;
    /* justify-content: center; */
    padding: 20px;
}

.test-header nav {
    background-color: rgba(255,255,255, 0.3);
    color: rgb(113, 187, 212);
    border-radius: 5px;
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

/* footer {
    background-color: white;
    flex: 0 0 80px;
    height: 15%;
    width: 100%;
    position: fixed; 
	bottom: 0;
} */


body > .test-class {
    flex: 1 1 auto;
    flex-direction: row;
    height: 100%;
    display: grid;
    justify-content: top;
}

.test-class > main {
    flex-grow: 1;
    flex-basis: 100%;
    justify-content: center;
    text-align: center;
    padding: 20px;
    overflow: auto;
    
}

aside {
    background-color: lightblue;
    height: 100%;
    flex-grow: 0;
    flex-basis: 50%;
    justify-content: center;
    align-items: center;
    display: flex;    
}

article {
    border-radius: 5px;
    background-color: #efefef;
    padding: 20px;
    margin-bottom: 20px;
    font-weight: bold;
}

#fav-songs {
    padding-top: 20px;
}

article a {
    text-decoration: none;
    color: rgb(113, 187, 212);
}
    


#book1, #book2, #book3, #book4, #book5 {
    width: 20%;
    height: 600px;
}

#socials p {
    width: 400px;
    height: 400px;
}

#books-header {
    margin-bottom: 20px;
}

body .h1, body h2 {
    line-height: 3;
}

.social-icons a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 3.5rem;
    width: 3.5rem;
    background-color: rgb(113, 187, 212);
    color: #fff !important;
    border-radius: 50%;
    font-size: 1.5rem;
    margin-right: 1rem;
    text-decoration: none;
    padding: 35px;
}

.social-icons a:hover{
    background-color: rgb(169, 214, 229);
}

.row, .col {
    background-color: grey;
    border: 2px solid black;
    height: 250px;
}

.row {
    margin: 20px;
}